{% load humanize %}
{% autoescape off %}
    Đấu giá sim {{ DauGia.Sim }} đã kết thúc,
    <p>Người đấu giá: {{User.HoTen}}</p>
    <p>Địa chỉ: {{User.DiaChi}}</p>
    <p>Số điện thoại: {{User.SDT}}</p>
    <p>Thông tin đấu giá:</p>
    <table class="table" style="text-align: center;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Số sim</th>
                <th scope="col">Giá đáu giá</th>
            </tr>
        </thead>
        <tbody>
            <!-- {% for item in Ctghs %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{item.SP}}</td>
                    <td>{{item.DonGia|intcomma }}₫</td>
                </tr>
            {% endfor %} -->
            <tr>
                <th scope="row">1</th>
                <td>{{DauGia.Sim}}</td>
                <td>{{DauGia.GiaHienTai|intcomma }} VNĐ</td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td>Phí vận chuyển: Miễn phí</td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td>Tổng tiền: {{DauGia.GiaHienTai|intcomma }} VNĐ</td>
            </tr>
        </tbody>
    </table>
{% endautoescape %}