{% extends 'quanly/main.html' %}
{% load static %}
{% block main %}
    {% load humanize %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
     <script src="https://code.highcharts.com/highcharts.src.js"></script>
<div class="content">
    {% include 'quanly/inc/topbar.html' %}
                <div class="grid grid-cols-12 gap-6">
                    <div class="col-span-12 xxl:col-span-9 grid grid-cols-12 gap-6">
                        <!-- BEGIN: General Report -->
                        <div class="col-span-12 mt-8">
                            <div class="intro-y flex items-center h-10">
                                <h2 class="text-lg font-medium truncate mr-5">
                                    Báo cáo
                                </h2>
                                <a href="" class="ml-auto flex text-theme-1">
                                    <i data-feather="refresh-ccw" class="w-4 h-4 mr-3"></i> Tải lại </a>
                            </div>
                            {% if request.user.is_superuser %}
                            <div class="grid grid-cols-12 gap-6 mt-5">
                                <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                                    <div class="report-box zoom-in">
                                        <div class="box p-5">
                                            <div class="flex">
                                                <i data-feather="users" class="report-box__icon text-theme-10"></i>
                                                <div class="ml-auto">
                                                    <div class="report-box__indicator bg-theme-9 tooltip cursor-pointer"
                                                         title="Số người dùng"> Số người dùng <i data-feather="chevron-up"
                                                                                                    class="w-4 h-4"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-3xl font-bold leading-8 mt-6">{{ user.count }}</div>
                                            <div class="text-base text-gray-600 mt-1">Người dùng</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                                    <div class="report-box zoom-in">
                                        <div class="box p-5">
                                            <div class="flex">
                                                <i data-feather="credit-card" class="report-box__icon text-theme-11"></i>
                                                <div class="ml-auto">
                                                    <div class="report-box__indicator bg-theme-12 tooltip cursor-pointer"
                                                         title="Số phòng"> Tổng sim kho
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-3xl font-bold leading-8 mt-6">{{ sim.count }}</div>
                                            <div class="text-base text-gray-600 mt-1">sim</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                                    <div class="report-box zoom-in">
                                        <div class="box p-5">
                                            <div class="flex">
                                                <i data-feather="shopping-cart" class="report-box__icon text-theme-12"></i>
                                                <div class="ml-auto">
                                                    <div class="report-box__indicator bg-theme-9 tooltip cursor-pointer"
                                                         title="Số phòng trống"> Đơn hàng </div>
                                                </div>
                                            </div>
                                            <div class="text-3xl font-bold leading-8 mt-6">{{ hoadon.count }}</div>
                                            <div class="text-base text-gray-600 mt-1">đơn hàng</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                                    <div class="report-box zoom-in">
                                        <div class="box p-5">
                                            <div class="flex">
                                                <i data-feather="dollar-sign" class="report-box__icon text-theme-6"></i>
                                                <div class="ml-auto">
                                                    <div class="report-box__indicator bg-theme-6 tooltip cursor-pointer"
                                                         title="doanh thu"> Tổng doanh thu
                                                         </div>
                                                </div>
                                            </div>
                                            <div class="text-3xl font-bold leading-8 mt-6">{{ tongtien|intcomma }} vnđ</div>
                                            <div class="text-base text-gray-600 mt-1">doanh thu</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                 <div class="intro-y p-5 mt-12 sm:mt-5"></div>
                                <h2 class="text-lg font-medium truncate mr-5">
                                    Thống kê doanh thu {{ hoadon.TongtienHD }}
                                </h2>
                                <div class="intro-y box p-5 mt-12 sm:mt-5" id="my-chart"></div>
                                {% else %}
                                Bạn không có quyền truy cập trang này

                            {% endif %}


                        </div>
                        <!-- END: General Report -->
                 </div>
                </div>

            </div>

    <style>.text-3xl.font-bold.leading-8.mt-6 {font-size: 20px;}</style>
    <script>
    /* Add a basic data series with six labels and values */
                    var data = {
                      labels: ['1','2','3','4','5','6','7','8','9','10','11','12'],
                      series: [
                        {

                          data: [ {% for t in hoadon  %}{{ t.TongTien}},{% endfor %}]

                        }
                      ]
                    };

                    /* Set some base options (settings will override the default settings in Chartist.js *see default settings*). We are adding a basic label interpolation function for the xAxis labels. */
                    var options = {
                      axisX: {
                        labelInterpolationFnc: function(value) {
                          return 'Tháng ' + value;
                        }
                      }
                    };

                    /* Now we can specify multiple responsive settings that will override the base settings based on order and if the media queries match. In this example we are changing the visibility of dots and lines as well as use different label interpolations for space reasons. */
                    var responsiveOptions = [
                      ['screen and (min-width: 641px) and (max-width: 1024px)', {
                        showPoint: false,
                        axisX: {
                          labelInterpolationFnc: function(value) {
                            return 'Tháng ' + value;
                          }
                        }
                      }],
                      ['screen and (max-width: 640px)', {
                        showLine: false,
                        axisX: {
                          labelInterpolationFnc: function(value) {
                            return 'T' + value;
                          }
                        }
                      }]
                    ];

                    /* Initialize the chart with the above settings */
                    new Chartist.Line('#my-chart', data, options, responsiveOptions);
    </script>

{% endblock %}