<!--{% load static %}-->
<!--<style>-->
<!--    .cart_cart a:before {-->
<!--        content: "{{ request.session.cart_items }}";-->
<!--    }-->
<!--</style>-->

<!--<header class="shop_header_area carousel_menu_area">-->
<!--    <div class="carousel_top_header black_top_header row m0">-->
<!--        <div class="container">-->
<!--            <div class="carousel_top_h_inner">-->
<!--                <div class="float-md-right">-->
<!--                    <ul class="account_list">-->
<!--                        {% include 'pages/topmenu.html' %}-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="carousel_menu_inner">-->
<!--        <div class="container">-->
<!--            <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--                <a class="navbar-brand" href="/"><img src="{% static 'home/img/logo.png' %}" alt="" style="width:250px"></a>-->
<!--                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                    <span class="navbar-toggler-icon"></span>-->
<!--                </button>-->
<!--                <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--                    <ul class="navbar-nav mr-auto">-->
<!--                        <li class="nav-item dropdown submenu active">-->
<!--                            <a class="nav-link dropdown-toggle" href="" role="button"  aria-haspopup="true" aria-expanded="false">-->
<!--                                Trang chủ-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item dropdown submenu">-->
<!--                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                                Danh mục <i class="fa fa-angle-down" aria-hidden="true"></i>-->
<!--                            </a>-->
<!--                            <ul class="dropdown-menu">-->
<!--                                {% include 'pages/danhmuc.html' %}-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li class="nav-item"><a class="nav-link" href="/">Tin tức</a></li>-->
<!--                        <li class="nav-item"><a class="nav-link" href="/">Liên hệ</a></li>-->
<!--                    </ul>-->
<!--                    <ul class="navbar-nav justify-content-end">-->
<!--                        &lt;!&ndash;<li class="search_icon"><a href="#"><i class="icon-magnifier icons"></i></a></li>&ndash;&gt;-->
<!--                        <li class="user_icon"><a href="{% url 'user:thongtintaikhoan'%}"><i class="icon-user icons"></i></a></li>-->
<!--                        <li class="cart_cart"><a href="{% url 'giohang:home' %}"><i class="icon-handbag icons"></i></a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </nav>-->
<!--        </div>-->
<!--    </div>-->
<!--</header>-->