{% extends 'base.html' %}

{% block title %}
    Danh sách sim theo loại {{ stl1.title }}
{% endblock %}

{% block index %}

{% load static %}
{% load humanize %}

    <article>
        <!----from tim kiem--->
        {% include 'tim-kiem.html' %}
        <!--- end tim kiem-->

        <center><img alt="Loading" src="images/filter-loader.gif.pagespeed.ce.TKfctFe3G_.gif" name="loading_div" width="95" height="15" border="0" id="loading_div" style="display:none">
        </center>
        <!--<a class="desktop-hide" href="/sim-dep-tra-gop"><img style="width:100%;padding-top:5px" border="0" alt="Sim số đẹp" src="//static.simthanglong.vn/images/sim-dep-tra-gop-0-phan-tram.jpg"></a>-->
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td valign="middle">
                        <h1>Danh sách sim theo loại {{ stl1.title }}</h1>
                        <!--<label><a class="criteria" style=" color: #288ad6; " href="javascript:tragopFilter()"><i id="active-tragop" class="ic-checkbox"></i>Hỗ trợ trả góp</a></label>-->
                    </td>
                    <td align="left" valign="middle"><img alt="Loading" src="images/filter-loader.gif.pagespeed.ce.TKfctFe3G_.gif" name="img_filter" width="95" height="15" border="0" id="img_filter" style="display:none">
                    </td>
                    <td width="127" align="right" valign="middle"><strong style=" color: red; ">10.000 sim</strong> </td>
                </tr>
            </tbody>
        </table>

      {% include 'includes/timkiem/timkiem-nangcao.html' %}

        <table class="tblsim-res2" cellspacing="1">
            <thead>
                <tr class="hide480" style="display:none">
                    <th class="hide480 tdw35" height="25" background="images/Nx25xgrid_bg.gif.pagespeed.ic.EfN4oIAt4r.webp"><span class="grid_title">STT</span>
                    </th>
                    <th class="tdw140" background="images/xgrid_bg.gif.pagespeed.ic.HP4k-6Oexi.webp"><span class="grid_title">Số Sim</span>
                    </th>
                    <th class="tdw140" background="images/xgrid_bg.gif.pagespeed.ic.HP4k-6Oexi.webp"><span class="grid_title">Giá bán</span>
                    </th>
                    <th class="tdw120 hide480" background="images/xgrid_bg.gif.pagespeed.ic.HP4k-6Oexi.webp"><span class="grid_title">Mạng di động</span>
                    </th>
                    <th class="hide480 hide555 tdw90" background="images/xgrid_bg.gif.pagespeed.ic.HP4k-6Oexi.webp"><span class="grid_title">Loại sim</span>
                    </th>
                    <th class=" tdw85" valign="middle" align="center" background="images/xgrid_bg.gif.pagespeed.ic.HP4k-6Oexi.webp"><span class="grid_title">Mua sim</span>
                    </th>
                </tr>
            </thead>
            <tbody id="table-body">
            {% for sim in sanpham %}
                <tr>
                    <td class="hide480"><span class="sott">{{ forloop.counter }}</span>
                    </td>
                    <td><span class="simso"><a href="{% url 'sanpham:sanpham' sim.slug %}"><span>{{ sim.SoSim }}</span>
                        </a>
                        </span>
                    </td>
                    <td><strong>{{ sim.Gia|intcomma }}₫</strong>
                    </td>
                    <td class="hide480"><span class="lg-{{ sim.Mang | lower}}">{{ sim.Mang }}</span>
                    </td>
                    <td class="hide480 hide555"> <span class="cat2">{% for ls in sim.LoaiSims.all|slice:"1" %}{{ ls.title}}{% endfor %}</span>

                    </td>
                    <td class=""><span class="news2 btn-mua" ><a href="{% url 'sanpham:sanpham' sim.slug %}" style="color: white">Mua sim</a> </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul class="pagination" style="list-style: none;">

            {% if sanpham.has_previous %}
                <li><a class="pagination-action" href="?page={{ sanpham.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
            {% else %}
                <li class="pagination-action disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
            {% endif %}
            
            {% if sanpham.number|add:'-4' > 1 %}
                <li><a class="pagination-number" href="?page={{ sanpham.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}
            
            {% for i in sanpham.paginator.page_range %}
                {% if sanpham.number == i %}
                    <li class="pagination-number pagination-current active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% elif i > sanpham.number|add:'-5' and i < sanpham.number|add:'5' %}
                    <li><a class="pagination-number" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            
            {% if sanpham.paginator.num_pages > sanpham.number|add:'4' %}
                <li><a class="pagination-number" href="?page={{ sanpham.number|add:'5' }}">&hellip;</a></li>
            {% endif %}
            
            {% if sanpham.has_next %}
                <li><a class="pagination-action" href="?page={{ sanpham.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
            {% else %}
                <li class="pagination-action disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
            {% endif %}
            
        </ul>

        <center> </center>
        <form action="" method="get" id="chitietsim"></form>
        <script type="text/javascript">
            function setFilterAll() {
                set_filter2('0', '0', '0', '0', '0');
            }
            window.onload = setFilterAll;

            function ctsim(sosim) {
                sosim = sosim.replace(/\D/g, "");
                document.getElementById("chitietsim").action = sosim;
                document.getElementById("chitietsim").submit();
            }
        </script>
        <br>

    </article>
<style>
        .pagination {
            margin-top: 1em;
        }

        .pagination-number {
            display: block;
            float: left;
            margin: 0 0.1em;
            padding: 0.5em 0.8em;
            border-radius: 2px;
            color: #fff;
            border: solid 0.5px;
        }

        .pagination-number:hover, .pagination-current {
            text-decoration: none;
            background-color: #0080DA;
            border: solid 0.5px;
            padding: 0.5em 0.8em;
            border-radius: 2px;
        }

        .pagination-action {
            float: left;
            margin: 0 0.1em;
            display: block;
            padding: 0.5em 0.5em;
            color: #0080DA;
            font-size: 1.3em;
        }

        .pagination-action:hover, .pagination-previous, .pagination-next {
            color: #0080DA;
        }
    </style>
{% endblock %}