{% load static %}
        <meta charset="utf-8">
        <link href="{% static 'logo.svg' %}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Quản lý bán sim">
        <meta name="keywords" content="Web bán sim">
        <meta name="author" content="Minh Duc">
        <title>Quản trị website bán sim số</title>
        <!-- BEGIN: CSS Assets-->
        <link rel="stylesheet" href="{% static 'css/app.css' %}" />
