{% load static %}
<nav class="side-nav">
                <a href="#" class="intro-x flex items-center pl-5 pt-4">
                    <img alt="website quản lý căn hộ" class="w-6" src="/static/logo.svg">
                    <span class="hidden xl:block text-white text-lg ml-3"> WEB<span class="font-medium"> SIM SỐ</span> </span>
                </a>
                <div class="side-nav__devider my-6"></div>
        <ul>
                    <li>
                        <a href="{% url 'quantri:main' %}" class="side-menu side-menu--active">
                            <div class="side-menu__icon"> <i data-feather="home"></i> </div>
                            <div class="side-menu__title"> Bảng điều khiển </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="side-menu">
                            <div class="side-menu__icon"> <i data-feather="box"></i> </div>
                            <div class="side-menu__title"> Quản lý sim <i data-feather="chevron-down" class="side-menu__sub-icon"></i> </div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="{%  url 'quantri:Them-san-pham' %}" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> Thêm sim mới </div>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'quantri:Danh-sach-san-pham' %}" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> Danh sách sim </div>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'quantri:Them-mang' %}" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> Danh sách nhà mạng </div>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'quantri:Them-loai' %}" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> Danh mục loại sim </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="side-menu">
                            <div class="side-menu__icon"> <i data-feather="inbox"></i> </div>
                            <div class="side-menu__title"> Cấu hình <i data-feather="chevron-down" class="side-menu__sub-icon"></i></div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="{%  url 'quantri:cau-hinh-trang' %}" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> Cấu hình trang </div>
                                </a>
                            </li>
                            <li>
                                <a href="{%  url 'quantri:cau-hinh-seo' %}" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> Cấu hình SEO </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'quantri:danh-sach-don-hang' %}" class="side-menu">
                            <div class="side-menu__icon"> <i data-feather="hard-drive"></i> </div>
                            <div class="side-menu__title"> Đơn hàng </div>
                        </a>
                    </li>
                    <li>
                        <a class="side-menu">
                            <div class="side-menu__icon"> <i data-feather="credit-card"></i> </div>
                            <div class="side-menu__title"> Tin tức <i data-feather="chevron-down" class="side-menu__sub-icon"></i></div>
                        </a>
                        <ul class="">
                            <li>
                                <a href="{% url 'quantri:danh-sach-loai-tin-tuc' %}" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> Danh sách loại tin tức </div>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'quantri:danh-sach-tin-tuc' %}" class="side-menu">
                                    <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                                    <div class="side-menu__title"> Danh sách tin tức </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'quantri:danh-sach-dau-gia' %}" class="side-menu">
                            <div class="side-menu__icon"> <i data-feather="message-square"></i> </div>
                            <div class="side-menu__title"> Đấu giá </div>
                        </a>
                    </li>

                    <li class="side-nav__devider my-6"></li>
                </ul>

</nav>