<div class="list-group">
    <a href="javascript:void(0);" class="list-group-item active">Sim theo giá</a>
                    <div class="box2col177">
                                            {% for cate in stg|dictsort:'title' %}
                        <a class="list-group-item lgit" href="{% url 'sanpham:simtheogia' cate.slug %}">{{ cate.title }}</a>
                                            {% endfor %}
                    </div>
</div>

<div class="list-group"> <a href="javascript:void(0);" class="list-group-item active">Sim theo mạng</a>
                    <div class="box2col177">
                        {% for cate in nm %}
                        <a class="list-group-item lgit" href="{% url 'sanpham:simtheomang' cate.slug %}">{{ cate.title }}</a>
                          {% endfor %}
                    </div>

</div>

<div class="list-group"> <a href="javascript:void(0);" class="list-group-item active">Sim theo loại</a>
                    <div class="box2col177">
                        {% for cate in stl %}
                            <a class="list-group-item lgit" href="{% url 'sanpham:simtheoloai' cate.slug %}">{{ cate.title }}</a>
                        {% endfor %}
                    </div>
</div>

<div class="list-group hide480"> <a href="javascript:void(0);" class="list-group-item active">Sim năm sinh</a>
                    <div class="box2col177">
                        {% for cate in sns %}
                        <a class="list-group-item lgit" href="{% url 'sanpham:simnamsinh' cate.slug %}">{{ cate.title }}</a>
                         {% endfor %}
                    </div>
</div>

