<!---------/TOP HEADER/-------------->
        <header>
            <div style="width:100%;position:relative">
                <div style="float:left;">
                    <a href="/" style="font-size: 0px;">
                        <img style="width:100%;overflow:hidden;" class="mobile-hide" border="0"
                             alt="Sim số đẹp"
                             src="https://static.simthanglong.vn/images/sim-so-dep-simthanglong.vn.jpg">
                        <img style="height: 50px !important;padding-left: 10px;max-width: 80%;overflow:hidden;" class="desktop-hide" border="0"
                             alt="Sim số đẹp"
                             src="https://static.simthanglong.vn/images/sim-so-dep-simthanglong.vn.jpg">
                    </a>

                </div>
                <div style="position:absolute;right:35px"> </div>
            </div>

            {% include 'menu.html' %}

        </header>