{% load sitetree %}
<table width="100%" border="0" cellpadding="0" cellspacing="0" style=" border-top: 1px solid #525252; ">
                <tr>
                    <td class="main-menu">
                        <label for="show-menu" class="show-menu">
                            <div id="show-menu-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>Menu</label>
                        <input type="checkbox" id="show-menu" role="button">
                        {% sitetree_menu from "menu-header" include 'trunk,topmenu'%}
                    </td>
                </tr>
            </table>