{% extends 'base.html' %}

{% block index %}
{% load static %}
{% load humanize %}
<!---------Index -------------->
<article>
<div class="phongthuy_wp">
                        <div class="form_phongthuy">
                           <form method="get" style=" position: relative; ">
                              <div id="phongthuyloading" class="form_phongthuy_controls" style="display: none;position: absolute;left: 50%;margin-left: -65px;z-index: 9;">
                                 <img style=" width: 130px; " src="/images/simthanglong-phongthuy.gif">
                              </div>
								<div class="form_phongthuy_controls">
									<div>
										<div class="form_left">
											<label>Giờ sinh:&nbsp;</label>
										</div>
										<div class="form_right">
											<select style="width:100%;" class="combobox" name="giosinh" id="giosinh">
											   <option value="">Giờ sinh</option>
											   		<option selected="selected" value="1">Tý (23-01h)</option>

													<option value="2">Sửu (1h-3h)</option>

													<option value="3">Dần (3h-5h)</option>

													<option value="4">Mão (5h-7h)</option>

													<option value="5">Thìn (7h-9h)</option>

													<option value="6">Tỵ (9h-11h)</option>

													<option value="7">Ngọ (11h-13h)</option>

													<option value="8">Mùi (13h-15h)</option>

													<option value="9">Thân (15h-17h)</option>

													<option value="10">Dậu (17h-19h)</option>

													<option value="11">Tuất (19h-21h)</option>

													<option value="12">Hợi (21h-23h)</option>

											</select>
										</div>
									</div>
								</div>
                              <div class="form_phongthuy_controls">
                                 <div>
                                 <div class="form_left">
                                    <label>Ngày&nbsp;sinh(DL):&nbsp;</label>
                                 </div>
                                 <div class="form_right">
                                    <select class="combobox" name="ngay" id="ngaysinh">
                                       <option value="">Ngày</option>

											<option selected="selected" value="02">02</option>

											<option value="03">03</option>

											<option value="04">04</option>

											<option value="05">05</option>

											<option value="06">06</option>

											<option value="07">07</option>

											<option value="08">08</option>

											<option value="09">09</option>

											<option value="10">10</option>

											<option value="11">11</option>

											<option value="12">12</option>

											<option value="13">13</option>

											<option value="14">14</option>

											<option value="15">15</option>

											<option value="16">16</option>

											<option value="17">17</option>

											<option value="18">18</option>

											<option value="19">19</option>

											<option value="20">20</option>

											<option value="21">21</option>

											<option value="22">22</option>

											<option value="23">23</option>

											<option value="24">24</option>

											<option value="25">25</option>

											<option value="26">26</option>

											<option value="27">27</option>

											<option value="28">28</option>

											<option value="29">29</option>

											<option value="30">30</option>

											<option value="31">31</option>

                                    </select>
                                    <select class="combobox" name="thang" id="thangsinh">
                                       <option value="">Tháng</option>
                                       											<option value="01">01</option>

											<option value="02">02</option>

											<option value="03">03</option>

											<option value="04">04</option>

											<option selected="selected" value="05">05</option>

											<option value="06">06</option>

											<option value="07">07</option>

											<option value="08">08</option>

											<option value="09">09</option>

											<option value="10">10</option>

											<option value="11">11</option>

											<option value="12">12</option>

                                    </select>
                                    <select class="combobox combobox_namsinh" name="namsinh" id="namsinh">

											<option value="1950">1950</option>

											<option value="1951">1951</option>

											<option value="1952">1952</option>

											<option value="1953">1953</option>

											<option value="1954">1954</option>

											<option value="1955">1955</option>

											<option value="1956">1956</option>

											<option value="1957">1957</option>

											<option value="1958">1958</option>

											<option value="1959">1959</option>

											<option value="1960">1960</option>

											<option value="1961">1961</option>

											<option value="1962">1962</option>

											<option value="1963">1963</option>

											<option value="1964">1964</option>

											<option value="1965">1965</option>

											<option value="1966">1966</option>

											<option value="1967">1967</option>

											<option value="1968">1968</option>

											<option value="1969">1969</option>

											<option value="1970">1970</option>

											<option value="1971">1971</option>

											<option value="1972">1972</option>

											<option value="1973">1973</option>

											<option value="1974">1974</option>

											<option value="1975">1975</option>

											<option value="1976">1976</option>

											<option value="1977">1977</option>

											<option value="1978">1978</option>

											<option value="1979">1979</option>

											<option value="1980">1980</option>

											<option value="1981">1981</option>

											<option value="1982">1982</option>

											<option value="1983">1983</option>

											<option value="1984">1984</option>

											<option value="1985">1985</option>

											<option value="1986">1986</option>

											<option value="1987">1987</option>

											<option value="1988">1988</option>

											<option value="1989">1989</option>

											<option value="1990">1990</option>

											<option value="1991">1991</option>

											<option value="1992">1992</option>

											<option value="1993">1993</option>

											<option value="1994">1994</option>

											<option value="1995">1995</option>

											<option value="1996">1996</option>

											<option value="1997">1997</option>

											<option value="1998">1998</option>

											<option value="1999">1999</option>

											<option value="2000">2000</option>

											<option value="2001">2001</option>

											<option value="2002">2002</option>

											<option value="2003">2003</option>

											<option value="2004">2004</option>

											<option value="2005">2005</option>

											<option value="2006">2006</option>

											<option value="2007">2007</option>

											<option value="2008">2008</option>

											<option value="2009">2009</option>

											<option value="2010">2010</option>

											<option value="2011">2011</option>

											<option value="2012">2012</option>

											<option value="2013">2013</option>

											<option value="2014">2014</option>

											<option value="2015">2015</option>

											<option value="2016">2016</option>

											<option value="2017">2017</option>

											<option value="2018">2018</option>

                                    </select>
                                 </div>
                                 </div>
                              </div>
							  <div class="form_phongthuy_controls">
								<div>
                                 <div class="form_left">
                                    <label>Giới tính:&nbsp;&nbsp;</label>
                                 </div>
                                 <div class="form_right">
                                    <div class="radio_box">
                                       <input checked="checked" type="radio" id="radio_1" value="Nam" name="gioitinh">
                                       <label for="radio_1">Nam</label>
                                    </div>
                                    <div class="radio_box">
                                       <input type="radio" id="radio_2" value="Nữ" name="gioitinh">
                                       <label for="radio_2">Nữ</label>
                                    </div>
                                 </div>
								</div>
                              </div>

                              <div class="form_phongthuy_controls">
                              <div>
                                      <button type="submit" class="btn btn-primary" style="color: white"> Tìm sim</button>
                              </div>
                              </div>
                           </form>
                        </div>
                        <br>
                     </div>


<div class="show-pp">

<div style="position: relative;">
                        <div id="box_pt_details" class="corner corner-top-left"> <div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> </div> </div> <div class="corner corner-bottom-left"> <div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> </div> </div> <div class="corner corner-top-right"> <div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> </div> </div> <div class="corner corner-bottom-right"> <div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> </div> </div>
                        <div class="border-red" style="padding: 14px;background: #ffefb4;">
                           <img style="display: table-cell;float: left;border: 1px solid #ccc;" src="https://simthanglong.vn/images/simthanglong-12-con-giap-7.jpg" alt="Sim thăng long 12 con giáp">
                           <ul style="display: table-cell;padding: 0;padding-left: 28px;">
                              <li><strong>Thân chủ</strong>: {{ request.GET.gioitinh }} sinh ngày: {{ ngay }}/{{ thang }}/{{ nam }} </li>
{#								<li><strong>Năm Can Chi</strong>: Ất Mão</li>#}
                               <li><strong>Mệnh cung sinh</strong>: <b style="color: blue">{% for s in data_ns %} {% if s.namsinh == nam %} {{ s.nguhanh_ns.tuongsinh }} {% endif %} {% endfor %}</b></li>
								<li><strong>Mệnh cung khắc</strong>: <b style="color: red">{% for s in data_ns %} {% if s.namsinh == nam %} {{ s.nguhanh_ns.tuongkhac }} {% endif %} {% endfor %}</b></li>
								<li><strong>Tâm pháp</strong>: Thành Tâm Đắc Đạo</li>
                           </ul>
                        </div>
                     </div>
Kết quả:
 </br>
- Quý khách mệnh "<b style="color: red">{% for s in data_ns %}
    {% if s.namsinh == request.GET.namsinh %}
        {{ s.nguhanh_ns }}
    {% endif %} {% endfor %}</b>" sinh  " <b style="color: blue">{% for s in data_ns %} {% if s.namsinh == nam %} {{ s.nguhanh_ns.tuongsinh }} {% endif %} {% endfor %}</b>" và mang vận "Khắc - {% for s in data_ns %} {% if s.namsinh == nam %}{{ s.nguhanh_ns.tuongkhac }}{% endif %} {% endfor %}", quý khách nên sử dụng các số điện thoại mệnh "<b style="color: #13c700">{% for s in data_ns %} {% if s.namsinh == nam %}{{ s.nguhanh_ns.tuongsinh }}{% endif %} {% endfor %}</b> " và mang "Cân bằng" vận!
<br>
Dựa vào thông tin phong thủy theo tên của bạn. Hệ thống gợi ý những số phù hợp với bạn như kết quả số bên dưới.
<br>
(*) Nội dung luận giải trên chỉ mang tính chất tham khảo
    <br></br>
</div>
<h2> Danh sách sim hợp phong thuỷ năm {{ nam }}  - Mệnh  <b style="color: red">{% for s in data_ns %} {% if s.namsinh == nam %} {{ s.nguhanh_ns }} {% endif %} {% endfor %}</b></h2>
<table class="tblsim-res2" cellspacing="1">
            <thead>
                <tr class="hide480" style="display:none">
                    <th class="hide480 tdw35" height="25" background="/static/images/Nx25xgrid_bg.gif.pagespeed.ic.EfN4oIAt4r.webp">
                        <span class="grid_title">STT</span>
                    </th>
                    <th class="tdw140" background="/static/images/xgrid_bg.gif.pagespeed.ic.HP4k-6Oexi.webp"><span class="grid_title">Số Sim</span>
                    </th>
                    <th class="tdw140" background="/static/images/xgrid_bg.gif.pagespeed.ic.HP4k-6Oexi.webp"><span class="grid_title">Giá bán</span>
                    </th>
                    <th class="tdw120 hide480" background="/static/images/xgrid_bg.gif.pagespeed.ic.HP4k-6Oexi.webp"><span class="grid_title">Mạng di động</span>
                    </th>
                    <th class="hide480 hide555 tdw90" background="/static/images/xgrid_bg.gif.pagespeed.ic.HP4k-6Oexi.webp"><span class="grid_title">Loại sim</span>
                    </th>
                    <th class=" tdw85" valign="middle" align="center" background="/static/images/xgrid_bg.gif.pagespeed.ic.HP4k-6Oexi.webp"><span class="grid_title">Mua sim</span>
                    </th>
                </tr>
            </thead>
            <tbody>
             {% if not sp %}
		        Không tìm thấy sim nào
		        {% else %}
            {% for sim in sp %}

                <tr>
                    <td class="hide480"><span class="sott">1</span>
                    </td>
                    <td><span class="simso"><a href="{% url 'sanpham:sanpham' sim.slug %}"><span>{{ sim.SoSim }}</span>
                        </a>
                        </span>
                    </td>
                    <td><strong>{{ sim.Gia|intcomma }}₫</strong>
                    </td>
                    <td class="hide480"><span class="lg-{{ sim.Mang | lower}}">{{ sim.Mang }}</span>
                    </td>
                    <td class="hide480 hide555"> <span class="cat2">{% for ls in stl|slice:"1" %}{{ ls.title}}{% endfor %}</span>

                    </td>
                    <td class=""><span class="news2 btn-mua" ><a href="{% url 'sanpham:sanpham' sim.slug %}" style="color: white">Mua sim</a> </span>
                    </td>
                </tr>

            {% endfor %}
            {% endif %}
            </tbody>
        </table>

        <div class="pagination" align="center"> <span class="page active">1</span>
        <a href="sim-theo-gia/duoi-500-nghin-p2.html" title="Đến trang 2" class="page">2</a>
        <a href="sim-theo-gia/duoi-500-nghin-p2.html" title="Đến trang tiếp" class="page">Tiếp »</a>
        <br>
        <br>
       </div>
</article>

<style>
            @media (max-width: 480px) {
                .filter li {
                    position: initial
                }
                .filter li .listprice {
                    width: auto;
                    left: 10px;
                    right: 10px
                }
                #listlengthFilter:before,
                #listlengthFilter:after {
                    left: 5%
                }
                #listTelcoFilter:before,
                #listTelcoFilter:after {
                    left: 30%
                }
                #listPriceFilter:before,
                #listPriceFilter:after {
                    left: 55%
                }
                #listSortFilter:before,
                #listSortFilter:after {
                    left: 85%
                }
                .product-w60 {
                    width: 100%
                }
                .product-w40 {
                    width: 100%
                }
                .tblsim-res2 tr,
                .bancanbiet tr {
                    height: 39px
                }
                .tblsim-res2 tbody tr:first-child,
                .bancanbiet tbody tr:first-child {
                    height: 33px
                }
                .tblsim-res2 .simso {
                    text-align: center;
                    padding: 0;
                    float: none
                }
                .bancanbiet tr a {
                    font-size: 15px
                }
                .bancanbiet tr .news2 a:link {
                    font-size: 15px
                }
                .page,
                .page.active {
                    padding: 2px 4px!important;
                    font-size: 14px!important
                }
            }

            .tblsim-res2 {
                background: #ccc;
                width: 100%
            }

            .tblsim-res2 tr {
                background: #fff;
                vertical-align: middle;
                text-align: center
            }

            .tblsim-res2 tr:nth-child(even) {
                background-color: #f9f9f9
            }

            .tblsim-res2 tr:hover {
                background-color: #e7ffca
            }

            .tblsim-res2 tr {
                height: 39px!important
            }

  input.sm {
    display: block;
    color: white;
    border: 2px solid #4c6f54ad;
    background: #182f33;
    padding: 3px;
    margin: 5px 40px 1px 0px;
    float: right;
}

        </style>
{% endblock %}

